.container-flex
{
	display: flex;
	column-gap: 50px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.flex-box
{
	width: 200px;
	height: 200px;
	background-color: #F2F2E6;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	border: 2px solid #eab210;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all 0.3 ease;
}

.flex-box:hover
{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.container-texto
{
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	padding: 10px;
}